streamlit
pandas
pathlib
importlib
importlib-metadata
python-dateutil
numpy
plotly
pillow
streamlit-option-menu
streamlit-card
streamlit
streamlit-folium
folium
geopy
geopandas
shapely
ipython
matplotlib
seaborn
branca
rtree
fiona
pyproj
pytest
black
scikit-learn==1.3.0
seaborn==0.12.2
