streamlit>=1.24.0
pandas>=1.5.3
numpy>=1.24.3
plotly>=5.13.1
pillow>=9.4.0
watchdog>=3.0.0
requests>=2.28.2
python-dotenv>=1.0.0
streamlit-extras>=0.3.0
streamlit-card>=0.0.4
streamlit-custom-notification-box>=0.1.1
streamlit-option-menu>=0.3.2
streamlit-lottie>=0.0.3
